.header1{
    width: 100%;
    height: var(--height-header1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin-top: 13px;

}
.header1__item{
    width: calc((100% / 4) - 20px);
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header1__item-link{

    text-decoration: none;
    font-size: 21px;
    color: black;
    font-weight: 600;
    
}
.btn-active .header1__item-link{
    color: white;
    
}
.btn-active{
    background-color: var(--primary1-color);
}